version: '3.8'

services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: foundry
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: ./apps/foundry-api/Dockerfile
    ports:
      - '3001:3001'
    environment:
      DATABASE_URL: postgresql://postgres:password@postgres:5432/foundry
    depends_on:
      - postgres

  web:
    build:
      context: .
      dockerfile: ./apps/foundry-web/Dockerfile
    ports:
      - '3000:3000'
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:3001
    depends_on:
      - api

volumes:
  postgres_data:
